<div class="max-w-[1000px] mx-auto mt-5">

  <div><app-filter [all]="getAllCourses()" [free]="getFreeCourses()" [premium]="getPremiumCourses()"></app-filter></div>
  <div class="grid grid-cols-4 gap-4 ">
    <div *ngFor="let course of courses">
      <div className="card  bg-base-100 shadow-xl">
        <div className="card-body">
          <h2 className="card-title">{{course.courseName}}</h2>
          <p>{{course.description}}</p>
          <h2>{{course.duration}}</h2>
          <h2>{{course.courseType}}</h2>
          <div className="card-actions justify-end">
            <button className="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>