<div class="products-container">
  <div class="card" *ngFor="let p of products let i = index">
    <h2 class="">{{p.name}}</h2>
        <p>{{p.description}}</p>
        <p [ngStyle]="{color: p.price <= 20 ? 'Green' :'Red'}">{{p.price}}</p>
        <p>{{p.category}}</p>
        <div class="card-actions justify-end">
          <button *ngIf="p.availability === 'Available' ; else notifyMe" class="btn">Buy Now</button>

          <ng-template #notifyMe>
            <button class="btn">Notify Me</button>
          </ng-template>
        </div>
        <button routerLink="product-details/{{p.id}}">Show Details</button>
</div>
</div>